.article-page {
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 15px;
 }
 .article-page p {
    font-family: "Urbanist";
    font-size: 16px;
    line-height: 24px;
 }
 .article-page h2 {
    font-weight: 800;
 }
 .article__image {
   object-fit: cover;
   object-position: center;
   height: 600px;
   width: 100%;
   /* max-height: 500px; */
 }
 .article-page img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: center;
    background-position: center;
 }
 .article__content { 
   /* margin-top: 32px; */
 }
 .share__icon {
   display: flex;
   column-gap: 10px;
 }
 .share__icon img {
   width: 30px;
   cursor: pointer;
 }
 .share__icon img:hover {
   transform: scale(1.1);
 }
 @media screen and (max-width: 1024px){
   .article__image {
      height: auto;
   }
 }
 @media screen and (max-width: 768px){
  .article__content { 
    overflow-wrap: break-word;
  }
 }