.article {
    /* margin-top: 20px; */
    margin-bottom: 70px;
    /* background-image: url("https://preview2.cpxi-asia.com/marcopolo-landingpage/assets/background-article.jpg"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /* Tambahkan baris ini */
    padding: 30px 0;
    /* box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.5); */
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.1);
    /* opacity: 0.8; */
    overflow: hidden;
}

.article a {
    color: black;
}

.article a:hover {
    color: black;
}

.article h1 {
    font-weight: 700;
    color: white;

}

.title__page {
    /* text-shadow: 1px 1px 1px #323232,
         1px 2px 1px #919191,
         1px 3px 1px #919191,
         1px 4px 1px #919191,
     1px 12px 3px rgba(16,16,16,0.4);    
     mix-blend-mode: overlay; */
    /* margin-top: 100px; */
}

.article__wrapper {
    /* position: fixed;
     z-index: -1;
     padding: 0 30px;
     margin-top: 100px;
     padding: 15px 30px;
     top: 80px;
     left: 50%;
     transform: translate(-50%, -50%);
     border-radius: 20px;
     box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
     max-width: 1400px;
     width: 100%;
     background-color: white; */
}

.card__wrapper {
    display: flex !important;
    justify-content: center !important;
    /* margin-left: 50px !important; */
}

.card__article {
    display: flex;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    background-color: white;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center !important;
    width: 95%;
    /* height: 62vh; */
    /* margin: auto; */

}

.article .card__article {
    height: 480px;
    width: 100%;
}

.mt-50 {
    margin-top: 50px;

}

.card__image {
    height: 200px;
    object-fit: cover;

}

.card__description {
    padding: 10px 20px;
    /* height: 200px; */
    overflow: hidden;
}

.article .card__description {
    height: 250px;
}

.card__article:hover {
    box-shadow: 0px 5px 0px 0px rgba(240, 199, 120, 0.75);
    cursor: pointer;
}

.card__article h1,
.card__article h2 {
    font-size: 22px;
    color: black;
    font-family: "Urbanist";
    font-weight: 700;
    line-height: 28px;
}

.card__article p {
    font-size: 16px;
    font-family: "Urbanist";
    font-weight: 500;
}

.card__article__image {
    background: transparent;
    width: 100%;
    height: 240px !important;
    object-fit: cover;
    border-radius: 10px;

}

.card__article__image:after {
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0) 57.39%,
            #ffffff 76.95%);
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.3) inset;
    -webkit-box-shadow: 0 50px 50px rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow: 0 50px 50px rgba(0, 0, 0, 0.3) inset;

}

.card__article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* border-radius: 10px; */

}

.card__description button {
    background: #DA3131;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    margin: 5px 0;
    /* float: right; */
}

.button-load-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 48px;


}

.card__article {
    position: relative;
}

.card__description button {
    position: absolute;
    right: 15px;
    bottom: 5px;
}

.card__article .button__icon {
    padding: 0 2px;
    /* font-size: 30px; */
}

.card__description button:hover {
    color: white;
    background: black;
}

.article .card__description button {
    margin: 10px 0;
}

.button-load-more button {
    background: #DA3131;
    color: white;
    outline: none;
    border: none;
    /* width: 100%; */
    font-size: 16px;
    font-weight: 400;
    padding: 10px 10px;
    border-radius: 5px;

}

.button-load-more button:hover {
    color: #fff;
    background: #000;
}

@media screen and (max-width: 1024px) and (min-width:768px) {
    .card__description {
        height: 400px !important;
    }

    .card__article {
        height: 450px;
    }
}


@media screen and (max-width: 1366px) {

    .hero .card__article h1,
    .hero .card__article h2 {
        font-size: 22px !important;
        line-height: 24px !important;
    }

    .hero .card__article p {
        font-size: 14px !important;
        line-height: 16px !important;
    }
}

@media screen and (max-width: 768px) {

    .card__article h1,
    .card__article h2 {
        font-size: 18px !important;
        line-height: 20px !important;
    }

    .card__article p {
        font-size: 14px;
    }

    .hero .card__article h1,
    .hero .card__article h2 {
        font-size: 16px !important;
        line-height: 18px !important;
    }

    .hero .card__article p {
        font-size: 14px !important;
        line-height: 14px !important;
    }

    .article .card__description {
        height: 210px;
    }

    .article .card__article {
        height: 420px;
    }

    .button-load-more {
        margin-top: 32px;
        margin-bottom: 32px;


    }
}