.testi {
    /* margin-top: 20px; */
    margin-bottom: 100px;
    /* background-image: url("https://preview2.cpxi-asia.com/marcopolo-landingpage/assets/background-article.jpg"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding: 30px 0;
}

.testi h1 {
    font-weight: 700;
    color: black;
}

.card__testi {
    display: flex;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    align-items: center !important;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    background-color: white;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center !important;
    width: 95%;
    margin-bottom: 15px;
    height: 500px;
    padding: 15px;
    /* margin: auto; */

}

.testi .slick-slide {
    /* margin: 0 20px; */
}

.testi .slick-list {
    /* margin: 0 -20px; */
}

.mt-50 {
    margin-top: 50px;

}

.card__image {
    height: 200px;
    object-fit: cover;

}

.card__testi .card__description {
    padding: 10px 20px;
    /* height: 400px; */
    overflow: hidden;
    margin-top: 20px;
}

.card__testi:hover {
    box-shadow: 0px 5px 0px 0px rgba(240, 199, 120, 0.75);
    cursor: pointer;
}

.card__testi h1 {
    font-size: 24px;
    color: black;
    font-family: "Urbanist";
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
}

.card__testi p {
    font-size: 16px;
    font-family: "Urbanist";
    font-weight: 500;
    text-align: center;
    color: black;
}

.card__testi__image {
    background: transparent;
    width: 100%;
    height: 150px;
    padding-top: 20px;
    border-radius: 10px;

}

.card__testi__image:after {
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0) 57.39%,
            #ffffff 76.95%);
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.3) inset;
    -webkit-box-shadow: 0 50px 50px rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow: 0 50px 50px rgba(0, 0, 0, 0.3) inset;

}

.card__testi img {
    width: 100px;
    height: 100px;
    margin: auto;
    object-fit: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-radius: 50%;

}

.card__testi button {
    background: #DA3131;
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 10px;
}

.testi a {
    text-decoration: none;
}

@media screen and (max-width: 1400px) {
    .card__testi {
        height: 500px;
    }

    .card__testi__image {

        height: 120px;
        padding-top: 0px;

    }
}

@media screen and (max-width: 374px) {
    .card__testi {
        height: 600px;
    }

}