.modal__login form input {
    width: 100%;
    /* font-size: 18px; */
    padding: 10px 10px;
}
.modal__login form {
    flex-direction: column;
    row-gap: 10px;
}
.modal__login {
    position: relative;
    padding: 10px 10px;
}
.close__button__modal {
    position: absolute;
    right: -5px;
    top: -30px;
    width: 50px !important;
    background: none !important;
    background-color: none;
    padding: 0;

}