@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.cdnfonts.com/css/marlboro');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600;700&display=swap');
.container {
  max-width: 1500px;
}
html {
  scroll-behavior: smooth;
}
* {
  font-family: 'Urbanist', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none !important; 
}
ul {
  list-style: none;
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.loading__section {
  display: flex;
  justify-content: center;
  align-items: center;
}
